/**
 * Created by junyoung on 2017. 6. 2..
 */

.jjalInfo {
    text-align: left;
    font-family: BMDOHYEON;
    color: white;
    margin-bottom:10px;
    font-size: 12px;
}

.jjalInfo.desc{
    font-family: BMDOHYEON;
    font-size: 12px;
}

.jjalInfo.desc > a:visited {
    color: lightgray;
}
.jjalInfo.desc > a:hover {
    color: dimgrey;
}
.jjalInfo.desc > a {
    color: white;
    word-wrap: break-word;
}

.userLikeCount{
    font-size: 30px;
    color: white;
    font-family: BMDOHYEON;
    float:right;
}